<% include partials/header %>
<div class="ui center aligned container">

    <h1 class="ui large header">Node Newsletter</h1>

    <form action="/" method="post">
        <div class="ui input fluid ">
            <div class="ui horizontal red label">
                Email Address
            </div>
            <input type="email" name="email" placeholder="john@mail.com">

        </div>

        <div>
            <button class="ui fluid massive negative round inverted button">
                Submit
            </button>
        </div>

    </form>

</div>

<% include partials/footer %>